* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-weight: 400;
}

p {
    margin: 0px;
    padding: 0px;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7a482bb7;
}



/* CARTA CHICA ARRIBA */
.small-card {
    width: 18%;
    height: 5%;
    position: relative;
    left: -50px;
    top: 34px;
    display: flex;
    justify-content: end;
    align-items: center ;
    
}

.logo-big-bar {
    background-color: rgba(0, 0, 0, 0.929);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-20deg);
    border-radius: 0px 5px 5px 0px;
}

.logo-small-bar {
    background-image: linear-gradient(180deg, #fffa42, #fe8180, #f91eb2);
    opacity: calc(80%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2px;
    left: -2px;
    border-radius: 0px 5px 5px 0px;
}

.game-name {
    font-family: sans-serif;
    position: relative;
    left: -167px;
    top: -2px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
}

.logo {
    position: absolute;
    top: -29px;
    left: -50px;
}

.logo img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(-7px 7px 0.7px rgba(0, 0, 0, 0.5));
}

/* CARTA GRANDE */

.card-container {
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 51%;
}

.car-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50%;
    background: linear-gradient(360deg, #f91eb2, #dab409);
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 10% 10% 0px 0px;
    box-shadow: -7px 0px 1px 0px rgba(31, 31, 31, 0.516);
}
.img-auto img {
    position: absolute;
    width: 400px;
    height: 250px;
    top: -20px;
    left: 270px;
    transform: translate(158%, 130%);
    filter: drop-shadow(-3px 3px 0.7px rgba(0, 0, 0, 0.5));
    z-index: 4;

}

.car-name {
    width: 100%;
    padding: 0;
    position: relative;
    left: 5px;
    top: -7px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 70px;
    font-style: italic;
    opacity: calc(30%);
    color: #fff;
    filter: drop-shadow(-7px 7px 0px rgb(0,0,0));
    z-index: 5;
    /* baja la altura del texto */
}

/* PARTE ABAJO CARTA GRANDE */

.card-bottom {
    width: 100%;
    height: 51%;    
    background: linear-gradient(180deg, #ca2696, #55006a ,#00054c);
    border-radius: 0px 0px 10% 10%;
    box-shadow: -7px 7px 1px 0px rgba(31, 31, 31, 0.516);
}

.middle-card {
    width: 22%;
    height: 3.1%;
    position: relative;
    left: 0px;
    top: -265px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}

.big-bar {
    background-color: rgba(0, 0, 0, 0.929);
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-20deg);
    border-radius: 1.2px 1.2px 1.2px 1.2px;
}

.small-bar {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ba4bff, #480074);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2px;
    left: -2px;
    opacity: calc(80%);
    border-radius: 1.2px 1.2px 1.2px 1.2px;
    /* achicar y hacer un brillo en el final  */
}


@media (min-width: 375px) {


    /* CARTA CHICA ARRIBA */
    .small-card {
        width: 50%;
        height: 5%;
        position: relative;
        left: 50px;
        top: 34px;
        display: flex;
        justify-content: end;
        align-items: center ;
        
    }
    
    .logo-big-bar {
        background-color: rgba(0, 0, 0, 0.929);
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(-20deg);
        border-radius: 0px 5px 5px 0px;
    }
    
    .logo-small-bar {
        background-image: linear-gradient(180deg, #fffa42, #fe8180, #f91eb2);
        opacity: calc(80%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -2px;
        left: -2px;
        border-radius: 0px 5px 5px 0px;
    }
    
    .game-name {
        font-family: sans-serif;
        position: relative;
        left: -80px;
        top: -2px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        white-space: nowrap;
        font-size: 50%;
    }
    
    .logo {
        position: absolute;
        top: -29px;
        left: -50px;
    }
    
    .logo img {
        width: 50px;
        height: 50px;
        filter: drop-shadow(-7px 7px 0.7px rgba(0, 0, 0, 0.5));
    }
    
    /* CARTA GRANDE */
    
    .card-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 51%;
    }
    
    .car-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 50%;
        background: linear-gradient(360deg, #f91eb2, #dab409);
        align-items: flex-end;
        justify-content: flex-start;
        border-radius: 10% 10% 0px 0px;
        box-shadow: -7px 0px 1px 0px rgba(31, 31, 31, 0.516);
    }
    .img-auto img {
        position: absolute;
        width: 0px;
        height: 250px;
        top: -20px;
        left: 270px;
        transform: translate(158%, 130%);
        filter: drop-shadow(-3px 3px 0.7px rgba(0, 0, 0, 0.5));
        z-index: 4;
    }
    
    .car-name {
        width: 100%;
        padding: 0;
        position: relative;
        left: 5px;
        top: -7px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 10px;
        font-style: italic;
        opacity: calc(30%);
        color: #fff;
        filter: drop-shadow(-7px 7px 0px rgb(0,0,0));
        z-index: 5;
        /* baja la altura del texto */
    }
    
    /* PARTE ABAJO CARTA GRANDE */
    
    .card-bottom {
        width: 100%;
        height: 51%;    
        background: linear-gradient(180deg, #ca2696, #55006a ,#00054c);
        border-radius: 0px 0px 10% 10%;
        box-shadow: -7px 7px 1px 0px rgba(31, 31, 31, 0.516);
    }
    
    .middle-card {
        width: 22%;
        height: 3.1%;
        position: relative;
        left: 0px;
        top: -265px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        
    }
    
    .big-bar {
        background-color: rgba(0, 0, 0, 0.929);
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(-20deg);
        border-radius: 1.2px 1.2px 1.2px 1.2px;
    }
    
    .small-bar {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #ba4bff, #480074);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -2px;
        left: -2px;
        opacity: calc(80%);
        border-radius: 1.2px 1.2px 1.2px 1.2px;
        /* achicar y hacer un brillo en el final  */
    }
}